# PORT=4000
NODE_ENV=development
JWT_SECRET=change_me

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=srm_saas_mini
# DATABASE_URL="postgresql://neondb_owner:npg_Qwp1mEZkvR8N@ep-late-credit-amcu5b7b.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL="mysql://root:99444192@localhost:3306/srm_saas_mini"

# REDIS_URL=redis://127.0.0.1:6379

RESEND_API_KEY=re_xxx
EMAIL_FROM=onboarding@resend.dev

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_CALLBACK_URL=https://back-production-d9b8.up.railway.app/auth/google/callback
APP_BASE_URL=https://front-red-five.vercel.app/
SYSTEM_OWNER_EMAIL=you@example.com
