PORT=4000
NODE_ENV=development
JWT_SECRET=change_me

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=srm_saas_mini
DATABASE_URL="mysql://root:root@127.0.0.1:3306/srm_saas_mini"

REDIS_URL=redis://127.0.0.1:6379

RESEND_API_KEY=re_xxx
EMAIL_FROM=onboarding@resend.dev

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback
APP_BASE_URL=http://localhost:5173
SYSTEM_OWNER_EMAIL=you@example.com
